In [6]:
import pandas as pd

df = pd.read_csv("mldata.csv")
df.head(5)

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [7]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df.head(5)

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [8]:

X = df[["weight","gender"]]
y = df["likeness"]

In [11]:

from sklearn.tree import DecisionTreeClassifier
# create and fit model
model = DecisionTreeClassifier().fit(X,y)


#prediction
model.predict([[80,1]])

array(['Biryani'], dtype=object)

In [12]:
model.predict([[23,0]])

array(['Biryani'], dtype=object)

In [23]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Create a model
model = DecisionTreeClassifier().fit(X_train,y_train)

predicted_values = model.predict(X_test)
predicted_values

array(['Biryani', 'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Samosa',
       'Samosa', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [24]:
score = accuracy_score(y_test, predicted_values)
score

0.6122448979591837

In [27]:
# How to save and train model
import joblib

model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model,"Foodie.joblib")

['Foodie.joblib']

## Assignment: How to import/run and save this model

In [31]:

# load the model from disk
import pickle

loaded_model = pickle.load(open("Foodie.joblib", 'rb'))

In [33]:
#graph
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)
# Graphic evaluation
tree.export_graphviz(model,
out_file="Foodie.dot",
feature_names=['age','gendre'],
class_names= sorted(y.unique()),
label = "all",
rounded = True,
filled = True)

In [34]:
df

     age   height  weight  gender likeness
0     27  170.688    76.0       1  Biryani
1     41  165.000    70.0       1  Biryani
2     29  171.000    80.0       1  Biryani
3     27  173.000   102.0       1  Biryani
4     29  164.000    67.0       1  Biryani
..   ...      ...     ...     ...      ...
240   31  160.000    60.0       1   Pakora
241   26  172.000    70.0       1  Biryani
242   40  178.000    80.0       1  Biryani
243   25    5.700    65.0       1  Biryani
244   33  157.000    56.0       0   Samosa

[245 rows x 5 columns]

## Assignment
### Run Decision Tree Classifier With 4 parameters

In [38]:

X = df[["weight","gender","height","age"]]
y = df["likeness"]

from sklearn.tree import DecisionTreeClassifier
# create and fit model
model = DecisionTreeClassifier().fit(X,y)


#prediction
prediction = model.predict([[80,1,20,23]])

In [39]:
prediction

array(['Biryani'], dtype=object)